.row
  - if @tags.blank?
    .small-12.columns.text-center
      .label.secondary= t('tags.not_found')
      %hr
  - else
    .small-12.columns
      - if params[:tag].present?
        = link_to t('links.clear_search'), links_path, class: 'label'
      - @tags.each do |tag|
        = link_to tag.title, links_path(tag: tag.title),
          class: "label#{ ' active' if tag.title == params[:tag]}"
      %hr
- if @links.blank?
  .small-12.columns.text-center
    .label.secondary= t('links.not_found')
    %hr
- else
  - @links.each do |link|
    .row
      .small-12.columns
        = link_to link.url, link.url
      .small-12.columns
        = truncate(link.description, length: 100, separator: ' ')
      .small-12.columns
        - link.tags.each do |tag|
          = link_to tag.title, links_path(tag: tag.title), class: 'label'
        %hr
  .row
    .small-12.columns.text-center
      = paginate @links
